@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
/* font-family: 'Barlow Condensed', sans-serif;  --> all*/
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
/* font-family: 'Metamorphous', cursive; -- ddr_World */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  a.lets-talk:hover{
      color: #000000 !important;
  }
  #myBtn:hover {
    background-color: #555;
  }
/* ul.navbar-nav li.nav-item {
 */
 #top{
     width: 100%;
     height: 100%;
     background-image: url(../code.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 30px;
     box-sizing: border-box;
     overflow: hidden;
}
.active{
    background-color: rgba(1, 63, 49, 0.301);
    border-radius: 30px;
    display: block;
    padding:10px;
}

ul.navbar-nav li.nav-item a{
    /* background-color: #fff; */
    font-size:18px;
    display:block;
    margin: 0 10px;
    color: #fff !important;
    margin-top: 5px;
    letter-spacing:2px;
    transition: all 0.5s ease-in-out;
}
ul.navbar-nav li.nav-item a:hover{
    color: tomato !important;
}
ul.navbar-nav li::after{
    content:"" !important;
    width:100%;
    display:block !important;
    height:2px;
    display:none
}
ul.navbar-nav li:hover:after{
    content:"" !important;
    display:block !important;
    width:100%;
    height:2px;
    /* background-color: #fff; */
    background: linear-gradient(to right, salmon 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
    
} 
a.navbar-brand:hover{
    color: tomato !important;
}

@media (max-width: 1200px){
    a.lets-talk{
        display: none;
    }
     a.navbar-brand{
        font-family: 'Metamorphous', cursive;
        margin-left: 30px;
        font-size: 30px;
    }
}

@media (max-width: 768px){
    ul.navbar-nav li.nav-item a{
        padding-left:50px;
    }
    a.navbar-brand{
        font-family: 'Metamorphous', cursive;
        margin-left: 27px;
        font-size: 27px;
    }
}

@media (min-width:1200px){
    a.navbar-brand{
        font-family: 'Metamorphous', cursive;
        margin-left: 35px;
        font-size: 32px;
    }
    a.lets-talk{
        display: block;
        margin-right: 35px;
        text-decoration: none;
        color: rgb(240, 207, 100);
        border: 1px solid #fff;
        border-radius: 30px;
        text-transform: capitalize;
        padding: 12px 36px;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 0;
        position: relative;
        transition: color .4s linear;
        position: relative;
        overflow: hidden;
        /* margin: 0; */
        transition: all 0.5s ease-in-out;
    }
    a.lets-talk:hover{ 
        background: linear-gradient(to right, rgb(17, 17, 17) 50% , rgba(228, 97, 97) 50%) right;
        background-size: 200%;
        transition: .5s ease-in-out;
        border-color: rgb(255, 221, 71);
    }
}
li.dropdown ul.dropdown-menu{
    background-color: rgb(0, 0, 0)!important;
    overflow: hidden;
}
/* li.dropdown ul.dropdown-menu li:hover{
   background-color: #6c9c10;
   color: red;
}
li.dropdown ul.dropdown-menu::before:hover ,
li.dropdown ul.dropdown-menu::after
{
    content: "";
    display:none;
} */
/* profile-image design */

.profile-image img{
    height:250px;
    width:250px;
    border-radius: 50%;
    padding: 15px;
    border: 3px solid tomato;
    transition: all 0.5s ease-in-out;
}
.profile-image img:hover{
    background: linear-gradient(to right, rgb(12, 11, 11) 50%, lightblue 50%) right ;
    background-size: 200%;
    transition: 1s ease-in-out;
    animation-direction: reverse;
}
.main-pic-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.this-is-header-text-dileep-raloti{
    color: tomato;
    /* margin-left:15px; */
    background-color: rgba(215, 241, 167, 0.116);
    padding: 10px 15px;
}
.this-is-header-text-dileep-raloti p.get-solution{
    color: rgb(253, 244, 243);
    /* margin-left:15px; */
    background-color: tomato;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing:2px;
}
.this-is-header-text-dileep-raloti p.lead{
    color: rgb(253, 244, 243);
    /* margin-left:15px; */
    /* background-color: rgba(123, 180, 16, 0.842); */
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing:2px;
}
.this-is-header-text-dileep-raloti h1{
    color: rgb(253, 244, 243);
    /* margin-left:15px; */
    /* background-color: rgba(123, 180, 16, 0.842); */
    padding: 10px 15px;
    font-size: 42px;
    letter-spacing:2px;
    font-family: 'Metamorphous', cursive;
}
.changes-heading-pad-mar{
    padding:200px 0;
}

.flex-item-google{
    display: flex;
    justify-content: center;
    text-align: center;
}

a.btn-hire{
    /* background-color: #fff; */
    
    letter-spacing:1.2px;
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 30px;
}
a.explore:hover{
    background: linear-gradient(to right, rgb(26, 26, 26) 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
a.hire-me:hover{
    background: linear-gradient(to right, rgb(26, 26, 26) 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
@media (max-width:990px){
    .this-is-header-text-dileep-raloti h1{
        font-size: 35px;
    }
    .changes-heading-pad-mar{
        padding:100px 0;
    }
    .this-is-header-text-dileep-raloti{
        margin-top:30px;
    }
    .inner-google-ph-em{
        margin-left: 30px;
    }
    .card-bottom{display:none;
    }
}
@media (max-width:400px){
    .this-is-header-text-dileep-raloti h1{
        font-size: 25px;
    }
    .inner-google-ph-em{
        text-align: center;
    }
}
.card-bottom .flex-item-google p{
    background-color: #6c9c10;
    padding:8px;
    text-align: center;
    color: white;
    letter-spacing:1.5px;
    border-radius: 5px;

}
.inner-google-ph-em{
    background-color: rgba(215, 241, 167, 0.116);
    padding:15px 10px 30px;
    margin-left: 10px;
    transition: all 0.5 ease-in-out;
    border-radius: 5px;
}
.inner-google-ph-em:hover{
    background-color: rgba(238, 240, 124, 0.219);
}
.inner-google-ph-em h3 a{
    /* color: red !important; */
    text-decoration: none;
}
.inner-google-ph-em a:hover{
    text-decoration: underline;
    color:#fff ;
}













/* slick slider css */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}






/* slick slider theme */
/* @charset 'UTF-8'; */
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}




/* slick slider manual css */

.slider {
    width: 100%;
    margin: 50px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .8;
}

.slick-current {
  opacity: 1;
}